# Build folders
bin/
obj/
Debug/
Release/

# Visual Studio / Rider / IDE
.vs/
.idea/

# ReSharper
*.ReSharper

# User-specific / temporary files
*.suo
*.user
*.userosscache
*.sln.docstates
*.tmp
*.cache
*.userprefs

# Executables / DLLs
*.dll
*.exe
*.pdb

# Local SQL Server database files
*.mdf
*.ldf
*.ndf

# Logs
*.log

# Database scripts (keep these!)
!Database/*.sql

# SQLite / other database files
*.db
*.sqlite
